div {
  margin-bottom: 10px;
  position: relative;
}

input + span {
  padding-right: 30px;
}

input:invalid + span:after {
  position: absolute; content: 'bad';
  padding-left: 5px;
}

input:valid + span:after {
  position: absolute;
  content: '\2713';
  padding-left: 5px;
}