/*
  Group 7 / Group 17 Authors:
  
  Jonathan Boyd (A00410716)
  James W. Isaacs (A00324185)
  Mahesh Khattri (A00432768)
  Ayumu Saito (A00436125)
  Shamatul Jannat Raisa (A00454233)
  
  
  ======================== styles.css ======================================
  Due: end of term, fall 2021
  This CSS submission is Phase 1 of Software Engineering.
  We are creating a web-based storybook designed to assist in learning the 
  Mi'kmaq language.  The storybook will contain an initial menu page, three 
  choose-from-3 option pages and a final page that plays the story chosen.  It 
  should integrate pictures, text and audio to immerse the students in an 
  interactive environment. 
  This software will use Java, JavaScript, Html5, CSS3 and react.js. There will
  be audio for the words to be played so that users can correctly speak the 
  words. HTML5 and CSS3 will be used to design the pages with visual inputs 
  such as pictures. JavaScript will be used for page interaction such as words
  and audio.  Nodejs/react.js will be used for server/backend development.
  
  == Contents ==
    
    audio-button-container - hidden
    
    
    
    
*/

:root {
    --border-radius-pane: 50px;
}

* {
    font-family: "Comic Sans MS", "Comic Sans";
}

body {
    background: url(http://stockarch.com/files/13/08/plain_wood_background.jpg);
    max-width: 100vw;

    max-height: 100vh;
    margin: 0;
    padding: 0;
}

h1,
p {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    width: 200%;
    font-size: 16px;
}

/*
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3
reference
*/
button {
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8fbc8f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(216, 212, 212);
}

button:hover {
    background-color: #00d2f7c0;
}

button:active {
    background-color: #00d2f7;
    box-shadow: 0 5px rgb(216, 212, 212);
    transform: translateY(4px);
}

.leftPane div {
    margin: 5px;
}

.mainPane {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    /* This down below will make the element centered vertically */
    max-height: 90vh;
    position: absolute;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
    max-width: 90vw;
    margin-top: 20px;
}

.leftPane,
#rightPane {
    border: 2px solid black;
    max-height: 100%;
    background-color: cornsilk;
}

@media only screen and (min-width: 1500px) {
    .mainPane {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
        /* This down below will make the element centered vertically */
        margin-left: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        max-height: 100vh;
    }

    #leftPane,
    #rightPane {
        height: auto;
    }
}

.leftPane {
    border-bottom-left-radius: var(--border-radius-pane);
    justify-content: center;
    /* display: table with center-align-vertical class will vertically
     align this div */
    display: table;
    width: 100%;
    text-align: center;
    /* box-shadow: -20px 20px 20px rgba(121, 119, 114, 0.938); */
}

.center-align-vertical {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

#rightPane {
    border-top-right-radius: var(--border-radius-pane);
    /* display: table with center-align-vertical class will vertically
     align this div */
    display: table;
}

.story-picture-container {
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;
}

.story-picture img {
    width: 95%;
    border-radius: 20px;
    aspect-ratio: 4/2.7;
}

.story-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 24px;
}

.button-container {
    text-align: center;
    padding: 20px;
}

.choice-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

.choice-container {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    align-self: flex-start;
}

.choice-container img {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 10px;
}

.choice-container button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 5px;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8fbc8f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(216, 212, 212);
}

.choice-container button:hover {
    background-color: #00d2f7c0;
}

.choice-container button:active {
    background-color: #00d2f7;
    box-shadow: 0 5px rgb(216, 212, 212);
    transform: translateY(4px);
}

#text-of-choice-container {
    margin-top: 2rem;
    font-size: 20px;
}

#choiceText {
    text-align: center;
}

table {
    margin: auto;
    width: 80%;
    border-spacing: 0px;
    max-width: 500px;
}

td {
    border: 1px solid black;
    height: 2rem;
}

#audio-button-container {
    margin: 2rem;
    text-align: center;
}

#audio-button-container button {
    font-size: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 450px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00d2f7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(216, 212, 212);
    margin: 20px auto;
}

#audio-button-container button:hover {
    background-color: #00d2f7c0;
}

#audio-button-container button:active {
    background-color: #00d2f7;
    box-shadow: 0 5px rgb(216, 212, 212);
    transform: translateY(4px);
}

.page-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.page-button-container button {
    width: 60%;
    min-width: 130px;
    width: 100%;
}

/* 
---------------------------------------------------------------------------------------
This is unique to the end page 
*/
#end-page-logo img {
    width: 100%;
}
/*
---------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 800px) {
    footer {
        width: 100%;
    }

    .mainPane {
        display: block;
        margin-left: 4vw;
    }

    .leftPane,
    #rightPane {
        border-radius: 0px;
    }

    .leftPane {
        border-top-left-radius: var(--border-radius-pane);
        border-top-right-radius: var(--border-radius-pane);
    }

    #rightPane {
        border-bottom-left-radius: var(--border-radius-pane);
        border-bottom-right-radius: var(--border-radius-pane);
        width: 100%;
        border-left: 2px solid black;
        border-top: 0.01px solid black;
        margin-top: 0px;
    }

    .story-picture img {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .choice-container img {
        width: 50%;
    }

    .choice-container button {
        width: 70%;
    }

    .choice-grid {
        display: block;
    }
}

/* hides the audio buttons until we can implement*/

#audio-button-container {
    /*visibility: hidden;*/
    display: none;
}
